<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Page-1</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <h3>This is page1</h3>
</hr>
<form class="form" action="{% url 'webpage2' %}">
    <select name="fruits" class="form-control" >
        <option disabled="true" selected>--selected fruit--</option>
        <option>apple</option>
        <option>graphs</option>
        <option>mango</option>
        <option>kiwi</option>
    </select><br>
    <input class="btn-sm btn-success" type="submit" value="click">
</form>
</div>
</body>
</html>